{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/png" href="{% static 'main/img/favicon.ico' %}"/>
    <title>Dia Aberto-Editar Utilizadores</title>
{% block content %}

    {% include "includes/navbar.html" %}

    {#    paf   css #}
    <link rel="stylesheet" href="{% static 'main/css/bulma.css' %}">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">





<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .h3{
    text-align: center;
  }


</style>
<div data-v-8716d23a="" id="top-hero" class="hero is-primary is-bold"><div data-v-8716d23a="" id="top-hero-body" class="hero-body"></div></div>

</head>
<body>




<div data-v-8716d23a="" id="page-content">
    <div data-v-8716d23a="" class="card">
        <div data-v-8716d23a="" class="card-content">
            <div data-v-8716d23a="">
                <nav aria-label="breadcrumbs" class="breadcrumb"><ul>
                    <li><a href="/" class="router-link-active">Início</a></li>
                    <li class="is-active"><a href="/utilizadores" class="router-link-exact-active router-link-active">consultar Utilizador</a></li>
                    <li class="is-active"><a href="/utilizadores" class="router-link-exact-active router-link-active">Editar Utilizador</a></li>
                </ul></nav>
                <div class="section">
                    <div class="column is-12"><h1 class="title has-text-centered"> Editar Utilizador</h1>
                    <div class="column">



    <form method="POST">
        {% csrf_token %}
        <div class="col s12 m6">
        </div>
        <h3 style="color:red;">
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        </h3>

        <div class="col s12 m6">
        <label for="text">Nome</label>
        <input type="text" id="text" value={{nome}} name="nome" class="input">
        <br>
        <br>
        <div class="col s12 m6">
        <label for="email">Email</label>
        <input type="text" id="email" value={{email}} name="email" class="input">
        <br>
        <br>
        <div class="col s12 m6">
        <label for="date">Data de nascimento</label>
        <input type="date" id="Date" value={{data_nascimento}} name="data_nascimento" class="input">
        <br>
        <br>
        <div class="col s12 m6">
        <label for="number">Numero telemovel</label>
        <input type="number" id="number" value={{numero_telemovel}} name="numero_telemovel" class="input">
        <br>
        <br>
        <div class="col s12 m6">
        <label for="number">Cartao de Cidadao</label>
        <input type="number" id="number1" value={{cartao_cidadao}} name="cartao_cidadao" class="input">
        <br>
        <br>
        {% ifequal 1 obj.permitir_localizacao %}
        Permite o acesso à sua localização?
        <input type="radio" id="sim2" name="permitir_localizacao" value="sim" checked="checked">
        <label for="sim1">SIM</label>
        <input type="radio" id="nao2" name="permitir_localizacao" value="nao" >
        <label for="nao1">NAO</label>
        {% endifequal %}

        {% ifequal 0 obj.permitir_localizacao %}
        Permite o acesso à sua localização?
        <input type="radio" id="sim3" name="permitir_localizacao" value="sim">
        <label for="sim3">SIM</label>
        <input type="radio" id="nao3" name="permitir_localizacao" value="nao" checked="checked">
        <label for="nao3">NAO</label>
        {% endifequal %}
        <br>
        <br>
        {% ifequal 1 obj.utilizar_dados_pessoais %}
        Permite a utilização dos seus dados pessoais?
        <input type="radio" id="sim4" name="utilizar_dados_pessoais" value="sim" checked="checked">
        <label for="sim4">SIM</label>
        <input type="radio" id="nao4" name="utilizar_dados_pessoais" value="nao">
        <label for="nao4">NAO</label>
        {% endifequal %}

        {% ifequal 0 obj.utilizar_dados_pessoais %}
        Permite a utilização dos seus dados pessoais?
        <input  type="radio" id="sim5" name="utilizar_dados_pessoais" value="sim">
        <label for="sim5">SIM</label>
        <input  type="radio" id="nao5" name="utilizar_dados_pessoais" value="nao" checked="checked">
        <label for="nao5">NAO</label>

        {% endifequal %}


        {% ifequal 0 obj.deficiencias %}
        Tem algumas deficiências?

        <input type="radio" id="sim6" name="deficiencias" value="sim">
        <label for="sim6">SIM</label>
        <input type="radio" id="nao6" name="deficiencias" value="nao" checked="checked">
        <label for="nao6">NAO</label>

        {% endifequal %}
        {% ifequal 1 obj.deficiencias %}
        Tem algumas deficiências?
        <input type="radio" id="sim1" name="deficiencias" value="sim" checked="checked">
        <label for="sim1">SIM</label>
        <input type="radio" id="nao1" name="deficiencias" value="nao">
        <label for="nao1">NAO</label>
        Se sim, indique quais:
        <div class="col s12 m6">
        <label for="text">{{ deficiencias }}</label>
        <input type="text" id="text1" value={{deficiencias}} name="deficiencias">
        {% endifequal %}
        {#-----------------------------------------------------------------------#}
        <br>
        <br>
            <form action='.' method='POST' class="title has-text-centered">
                </form>

         <form action='.' method='POST' class="title has-text-centered"> {% csrf_token %}
    <button  class="btn btn-lg btn-primary btn-block button is-success" type="submit" id="2" name="update" value="{{ obj.email }}">Salvar</button>
</form>
        </div>
    </form>


    {% endblock %}

</body>
</html>

