{% load static %}
<link rel="stylesheet" href="{% static 'main/css/CostumProgressBar.css' %}">
<div class="caminho">
    <a href="../home.html">Início </a><a href="">/ Minha Inscrição</a>
</div>

<div class="container">
    <ul class="progressbar">
        <li id="bar1" class="active">
            <i id="fa1" name="active" class="faactive fa fa-users"></i>
            <p id="p1" name="active">Participante</p>
        </li>
        <li id="bar2">
            <i id="fa2" class="fa fa-graduation-cap"></i>
            <p id="p2">Escola</p>
        </li>
        <li id="bar3">
            <i id="fa3" class="fa fa-apple-alt"></i>
            <p id="p3">Refeicao</p>
        </li>
        <li id="bar4">
            <i id="fa4" class="fa fa-bus"></i>
            <p id="p4">transporte</p>
        </li>
        <li id="bar5">
            <i id="fa5" class="fa fa-calendar-alt"></i>
            <p id="p5">atividades</p>
        </li>
        <li id="bar6">
            <i id="fa6" class="fa fa-check"></i>
            <p id="p6">submissao</p>
        </li>
    </ul>
</div>