<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title></title>

</head>
<style>
    table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

.tablerow {
    background-color: #2d74d8;
    color: white;
}

.rowhover tr:hover {
    background-color: #bed4f3;
}



</style>
<script>
  var d = new Date();
  var n = d.toString();
  document.getElementById("demo").innerHTML = n;

</script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<body>
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="col s12 m6">
        <h2>Consultar Colaborações</h2>
    </div>


    <table>
        <thead>
        <tr class="tablerow">
            <td>data</td>
            <td>hora de inicio</td>
            <td>hora de fim</td>
            <td>auxilio</td>
            <td></td>
        </tr>
        </thead>
        <tbody class="rowhover">
        {% for lc in lista_colab_final %}
        <tr>
            <td>{{ lc.data_colaboracao | date:'d-m-Y' }}</td>
            <td>{{ lc.hora_inicio_colab | date:'H:i' }}</td>
            <td>{{ lc.hora_fim_colab | date:'H:i' }}</td>
            <td>
                {% if lc.percurso == 0 %}
                {% else %}
                <i style='font-size:24px' class='fas'>&#xf4d7;</i>&nbsp;
                {% endif %}
                {% if lc.sala_de_aula == 0 %}
                {% else %}
                <i style='font-size:24px' class='fas'>&#xf51c;</i>
                {% endif %}

            </td>
            <td>{% if lc.tarefa_atribuida != 1 %}
                <input type="button" onclick="location.href='editar_colab/{{lc.id}}';"
                       value="Editar">
                <button type="submit" id="2" name="del" value="{{lc.id}}">Apagar</button>
                {% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--        <p>Data da Colaboração: {{ h }}</p>-->
    <!--        <p>Horário da Colaboração: Das {{ lc.hora_inicio_colab }} até às {{ lc.hora_fim_colab }}</p>-->
    <!--            {% if lc.percurso == 0 %}-->
    <!--                {% else %}-->
    <!--                <p>Auxilio no percurso</p>-->
    <!--            {% endif %}-->
    <!--            {% if lc.sala_de_aula == 0 %}-->
    <!--                {% else %}-->
    <!--                <p>Auxilio na sala de aula</p>-->
    <!--            {% endif %}-->
    <!--            {% if lc.tarefa_atribuida != 1 %}-->
    <!--            <input type="button" onclick="location.href='editar_colab/{{lc.id}}';"-->
    <!--                   value="Editar Colaboração">-->

    <!--            <button type="submit" id="2" name="del" value="{{lc.id}}">Apagar Colaboração</button>-->
    <!--            {% endif %}-->
    <!--        <br>-->
    <!--        <br>-->

</form>
</div>
{% endblock %}

</body>
</html>