<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title></title>
</head>
<body>
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="col s12 m6">
        <h2>Criar Colaboração</h2>
    </div>
    <div class="col s12 m6">
        <label for="datemax">Em que dia quer colaborar?</label>
        <input type="date" id="datemax" name="data_colaboracao" min={{ data_inicio }} max={{ data_fim }}>
        <br>
        <br>
        Hora a que quer iniciar a colaboração?
        <input type="time"  name="hora_inicio_colab" min="08:00" max="18:00" >
        <br>
        <br>
        Hora a que quer terminar a colaboração?
        <input type="time"  name="hora_fim_colab" min="08:00" max="18:00" >
        <br>
        <br>
        Quer auxiliar na sala de aula?
        <input type="radio" id="sim3" name="sala_de_aula" value="sim">
        <label for="sim3">SIM</label>
        <input type="radio" id="nao4" name="sala_de_aula" value="nao">
        <label for="nao4">NAO</label>
        <br>
        <br>
        Quer auxiliar no percurso?
        <input type="radio" id="sim5" name="percurso" value="sim">
        <label for="sim5">SIM</label>
        <input type="radio" id="nao5" name="percurso" value="nao">
        <label for="nao5">NAO</label>
        <br>
        <br>

    </div>
    <input type="submit" value="Submeter">
</form>
</div>
{% endblock %}

</body>
</html>