<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title></title>

</head>

<body>
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="col s12 m6">
        <h2>Editar Colaboração</h2>
    </div>
    <div class="col s12 m6">
        <label for="datemax">Em que dia quer colaborar?</label>
        <input type="date" id="datemax" value={{data_colaboracao}} name="data_colaboracao"
               min={{data_inicio}} max={{data_fim}}>
        <br>
        <br>
        Hora a que quer iniciar a colaboração?
        <input type="time" value={{inicio_colab}} name="hora_inicio_colab" min="08:00" max="18:00" >
        <br>
        <br>
        Hora a que quer terminar a colaboração?
        <input type="time"  value={{fim_colab}} name="hora_fim_colab" min="08:00" max="18:00" >
        <br>
        <br>
        {% ifequal 1 obj.sala_de_aula %}
        Quer auxiliar na sala de aula?
        <input type="radio" id="sim5" name="sala_de_aula" value="sim" checked="checked">
        <label for="sim5">SIM</label>
        <input type="radio" id="nao5" name="sala_de_aula" value="nao">
        <label for="nao5">NAO</label>
        {% endifequal %}
        {% ifequal 0 obj.sala_de_aula %}
        Quer auxiliar na sala de aula?
        <input type="radio" id="sim6" name="sala_de_aula" value="sim" >
        <label for="sim6">SIM</label>
        <input type="radio" id="nao6" name="sala_de_aula" value="nao" checked="checked">
        <label for="nao6">NAO</label>
        {% endifequal %}
        <p>
        {% ifequal 1 obj.percurso %}
        Quer auxiliar no percurso?
        <input type="radio" id="sim7" name="percurso" value="sim" checked="checked">
        <label for="sim7">SIM</label>
        <input type="radio" id="nao7" name="percurso" value="nao">
        <label for="nao7">NAO</label>
        {% endifequal %}
        {% ifequal 0 obj.percurso %}
        Quer auxiliar no percurso?
        <input type="radio" id="sim8" name="percurso" value="sim" >
        <label for="sim8">SIM</label>
        <input type="radio" id="nao8" name="percurso" value="nao" checked="checked">
        <label for="nao8">NAO</label>
        {% endifequal %}
        <p>
    </div>
    <input type="submit" value="Editar Colaboração">
</form>
</div>
{% endblock %}

</body>
</html>