{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="{% static 'dist/wickedpicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dist/wickedpicker.min.css' %}">
    <title></title>

</head>
<script>
        let options = {
            twentyFour: true,
            now: "{{inicio_colab}}",
            close: 'wickedpicker__close',
            hoverState: 'hover-state',
            title: 'Escolher Hora',
            minutesInterval: 5,
        };
        $(document).ready(function () {
            $('.timepicker-12-hr').wickedpicker(options);
        });

</script>
<script>
        let options = {
            twentyFour: true,
            now: "{{inicio_colab}}",
            close: 'wickedpicker__close',
            hoverState: 'hover-state',
            title: 'Escolher Hora',
            minutesInterval: 5,
        };

        $(document).ready(function () {
            $('.timepicker-12-hr').wickedpicker(options);
        });

</script>
<body>
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="col s12 m6">
        <h2>Editar Colaboração</h2>
    </div>
    <div class="col s12 m6">
        <label for="datemax">Em que dia quer colaborar?</label>
        <input type="date" id="datemax" value={{data_colaboracao}} name="data_colaboracao"
               min={{data_inicio}} max={{data_fim}}>
        <br>
        <br>
        Hora a que quer iniciar a colaboração?
        <input type="text" id="timepicker-two" name="hora_inicio_colab" class="timepicker-12-hr">
        <br>
        <br>
        Hora a que quer terminar a colaboração?
        <input type="text" id="timepicker-one" name="hora_fim_colab" class="timepicker-12-hr">
        <br>
        <br>
        {% ifequal 1 obj.sala_de_aula %}
        Quer auxiliar na sala de aula?
        <input type="radio" id="sim5" name="sala_de_aula" value="sim" checked="checked">
        <label for="sim5">SIM</label>
        <input type="radio" id="nao5" name="sala_de_aula" value="nao">
        <label for="nao5">NAO</label>
        {% endifequal %}
        {% ifequal 0 obj.sala_de_aula %}
        Quer auxiliar na sala de aula?
        <input type="radio" id="sim6" name="sala_de_aula" value="sim" >
        <label for="sim6">SIM</label>
        <input type="radio" id="nao6" name="sala_de_aula" value="nao" checked="checked">
        <label for="nao6">NAO</label>
        {% endifequal %}
        <br>
        <br>
        {% ifequal 1 obj.percurso %}
        Quer auxiliar no percurso?
        <input type="radio" id="sim7" name="percurso" value="sim" checked="checked">
        <label for="sim7">SIM</label>
        <input type="radio" id="nao7" name="percurso" value="nao">
        <label for="nao7">NAO</label>
        {% endifequal %}
        {% ifequal 0 obj.percurso %}
        Quer auxiliar no percurso?
        <input type="radio" id="sim8" name="percurso" value="sim" >
        <label for="sim8">SIM</label>
        <input type="radio" id="nao8" name="percurso" value="nao" checked="checked">
        <label for="nao8">NAO</label>
        {% endifequal %}
        <br>
        <br>
    </div>
    <input type="submit" value="Editar Colaboração">
</form>

{% endblock %}

</body>
</html>