{% extends "base.html" %}

{% block title %}Setting New password{% endblock title %}

{% block content %}
<h4>Escolher nova Password</h4>

<form action="" method="post">
    {% csrf_token %}
    {% if validlink %}
        <p>Insira a sua nova password 2 vezes.
           Para verificarmos que escreu corretamente.</p>

        <p>
            {{ form.new_password1.errors }}<br/>
            {{ form.new_password1 }}
        </p>

        <p class="button-height">
            {{ form.new_password2.errors }}<br/>
            {{ form.new_password2 }}
        </p>
    {% else %}
        <h4>Password reset sem sucesso</h4>
        <p>O link usado esta invalido,
           provavelmente ja foi usado.
            Por favor peça uma nova mudança de password.</p><br/>
    {% endif %}

    <button type="submit">Mudar a minha password</button>
</form>
{% endblock content %}